* {
    padding: 0px;
    margin: 0px;
}

header {
    display: flex;
    flex: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: .1rem solid #000;
    height: 4rem;
}

header nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-shrink: 1;
    margin: 4rem;
    padding: 4rem;;
}

header nav h4 {
    color: #000;
    font-family: Assistant;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 2rem;
    padding-right: 2rem;
}

header div {
    border-radius: 5px;
    background: #F25757;
    width: 10rem;
    height: 65px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 2rem;
}

header img {
    width: 15rem;
    height: 62px;
    flex-shrink: 1x;
}

h4 {
    color: #FFF;
    font-family: Assistant;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

body h2 {
    color: #FFF;
    font-family: Assistant;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

main {
    display: flex;
    flex-wrap: wrap;
}

main div div h5{
    font-size: 3.2rem;
    margin-top: 2rem;
}

main div div h6 {
    font-size: 1.2rem;
    margin-top: 2rem;
}

main div div p {
    height: 15rem;
    width: 40rem;
    text-align: right;
    font-family: Inter;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;

    line-height: normal;      
    justify-content: center;
    float:inline-end;          
    padding-right: 2%;
    margin-top: 3rem;
    margin-bottom: 0rem;
}

table {
    border: 2px solid rgb(200,200,200);
    border-collapse:   collapse;
    letter-spacing: 2px;
    width: 60rem;
    text-align: center;
    justify-self: center;
}

thead {
    width: 100%;
    height: 42px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #1C71A1;
}
thead tr {
    height: 18px;
    flex-shrink: 0;

    color: #FFF;

    font-family: Assistant;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

tbody {
    color: #000;
    font-family: Assistant;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #FFF;
}

body div div section article {
    width: 10rem;
    padding: 1%;
    border: 1px solid #000;
    background-color: #FFF;
}

body div div  h1{
    width: 1000px;
    color:#F25757;
    font-family: Assistant;
    font-style: normal;
}

body div form {
    width: 400px;
}

footer {
    height: 22rem;
    width: 95.2rem;
    border: 1px solid #000;
    background-color: #030303;
}

footer div {
    width:100%;
    height: 21rem;
    display: flex;
    flex: wrap;
    justify-content: center;
    align-items: center;
    margin-right: 2em;
}

footer div img {
    transform: scale(0.8);
    height: 350px;
}

footer div section  {
    background-color: #000000;
    width: 100%;
    height: 2rem;
    display: flex;
    flex: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: #BDBDBD;
    font-family: Assistant;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 1rem;
    margin-right: 2em;
}

footer div section article {
    padding-left: 5%;
    padding-right: 4%;
    padding-top: 10%;
    padding-bottom: 15%;
}

footer div section article p {
    padding-top: 1rem;
    color:#FFFCFC;

    text-wrap: wrap;
    font-size: 1rem;
}

footer p {
    color: #BDBDBD;
}

label {
    font-size: 1rem;
}

input {
    height: 4rem;
    width: 35rem;
    border: 1px solid #000;
    border-radius: 5px;
    background: #FFFCFC;
}

::placeholder {
    padding-left: 4%;
    float: inline-start;
}

.local {
    width: 36rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.local input {
    width: 17rem;
}

.spflex {
    display: flex;
    flex: wrap;
    padding: 2%;
    width: 695px;
    border: 1px solid #000;
    background-color: #CECECE;
    flex-direction:column;
    padding-left: 4rem;
}
.spflex h1 {
    padding-bottom: 2rem;
}

.bigbox {
    height: 8rem;
}

.bigbox::placeholder {
    padding-bottom: 4rem;
}

.hol {
    border-radius: 5px;
    background: #F25757;
    width: 18rem;
    height: 55px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    float: inline-start;
    margin-bottom: 3rem;
}


.divider {
    width: 100%;
    flex-shrink: 0;
    padding-bottom: 0px;
    padding-top: 0px;
    margin: 0px;
}

.split {
    display: flex;
    flex: left;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
    margin: 0px;
    background-color: #F25757;

}

.desc {
    top: 0;
    padding-left: 5%;
    padding-top: 0px;
    flex-shrink: 0;
    color: #000;
    font-family: Assistant;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    height: 568px;
    width: 65rem;
    background-color: #E7E991;
    stroke-width: 1px;
    stroke: #0000;
    border: 1px solid #000;
}

.kid {
    background-color: #FEFFDB;
    width: 25rem;
    height: 568px;
    display: flex;
    flex: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
}

.kid h6 {
    font-size: 2rem;
    font-family: Assistant;
}

.kid p {
    display: flex;
    flex: wrap;
    text-align: center;
    color: #000;
    width: 20rem;
    float:inline-start;
    font-family: Assistant;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 2rem;
}

.kid img {
    transform: scale(0.9);
    margin-top: 2rem;
    height: 251px;
    flex-shrink: 1;
    border: 1px solid #000;
}

.trgrey {
    background: #D9D9D9;
}

.blend {
    mix-blend-mode: multiply;
}

.backkid1 {
    width: 100%;
    height: 403px;
    background-image: url("https://s3-alpha-sig.figma.com/img/9474/361f/6698015c65283ef5fcae97e30da1b5b2?Expires=1709510400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Hp667DmqFtZbJOkv6orB5tZuRtEbhRYH~gMPY9OJyroU5Ujm0VURt4lI80sH9Kj30pxmDrHozSKSBMHrqpXbSWOAbZWb89JG-OYVHGWgaQIe~HtheaaoXllajzuK6bYIV2PXa~9SWB7oCxdjfm18~3rk2DyIDFxzHrjLE0oISdCKaA9yOT1Dc7vviLVmzs2~vvSNp85wp58HfIShYYRbq65kjTYEP29CcnbP~STOSDdxlSep6Vy2qL8Fmphe-vI6vHcJGXoLnAWnE4sqL3dWSq91Cdt4yzV5iMWpNg3vfx025bqiXrwTwq8iGlPuEpCIdSXOpPRVaEKgVNRNlU5jKA__");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    color: #000;
    font-family: Assistant;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 8rem;
}

.backkid1 h1 {
    font-size: 2rem;
    padding-top: 2rem;
    margin-bottom: 1rem;
}
.backkid2 p {
    font-size: 1rem;
}

.backkid2{
    width: 100%;
    height: 510px;
    background-image: url("https://s3-alpha-sig.figma.com/img/2cb7/509b/93989650c158986f35308f84889feb66?Expires=1709510400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Xecio7WMv4ObmbRInMxhK4Ib5Q73HEQXmEN1HxGhxHFJN8xWDUhTzqolP303GZqEqNq6KF5VvSHcNk2druOyQmPqi6ZNro65VyVMExu~0GiR0yHzDawpjMtoFkkjgIObV1lKOOvzfVyfHS1TVmC~CoszsanSxOhC1TFECSkDZCrdYMaUVmXhD~FBFhM54WCSWlaQKyKIfQmHKICsVDolUrateOICC6V1farTPPFf33D7QnYNqVe2DC1lktKO3QQN60bnGQaLfhm1vTODamjjaB~KYy~HcDzqyejF6P5-Vo16EP92FD~qvmKClH2fRMglUwNnDFXtKMqn1XvC9-HYJg__");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-color: #FFF;
    font-size: 2rem;
}

.backkid2 section {
    width: 150px;
    margin-left: 75px;
    justify-items: right;
    align-items: right;
    align-content: right;
    display: flex;
    flex-direction: row;
    bottom: 0px;
    position: relative;
}

.backkid2 div {
    width: 40rem;
    padding-top: 4rem;
    padding-left: 4rem;
}

.backkid2 div strong {
    font-size: 3rem;
    text-decoration: none;
}

.backkid2 div h2 {
    font-size: 1.5rem;

}

   

.test img {
    width: 8rem;
    height: 118px;
    flex-shrink: 0;
    stroke-width: 1px;
    stroke: #FFF;
    border-radius: 100px;
}

.blue{
    background-color: #1C71A1;
    height: auto;
}

.half {
    width: 50%;
    height: 100%;
    align-items: center;
}

.mini {
    font-size: .8rem;
}

.flash {
    width: 30rem;
    height: 20rem;
}

.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 20rem;
    padding-right: 0px;
}

a:link {
    text-decoration: none;
    color: #000000;
}

a:visited {
    color: inherit;
    text-transform: none;
}

#table {
    display: flex;
    justify-content: center;
    padding:2rem;
    
}

#tilin1 {
    border: 5px solid rgba(32, 221, 28, 0.27);
}
#tilin2 {
    border: 5px solid #E7E991;
}
#tilin3 {
    border: 5px solid #F88484;
    width: 100%;
}

#larg {
    width: 35rem;
    height: 4rem;
}

#rights {
    padding-left: 30rem;
    font-size: 1rem;
}